TCI BW Studio/StripeBilling/Service Descriptors/connectMashery.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns="http://tns.tibco.com/bw/json/1467885267785" xmlns:extns1="http://tns.tibco.com/bw/REST" xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://tns.tibco.com/bw/json/1467885267785/REST/1467959888885" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="connectMashery" targetNamespace="http://tns.tibco.com/bw/json/1467885267785/REST/1467959888885">
  <wsdl:import namespace="http://tns.tibco.com/bw/json/1467885267785"/>
  <wsdl:import namespace="http://tns.tibco.com/bw/REST"/>
  <wsdl:message name="postRequest">
    <wsdl:part element="extns:RootElement" name="item"/>
    <wsdl:part element="extns1:httpHeaders" name="httpHeaders" tibex:source="bw.rest"/>
  </wsdl:message>
  <wsdl:message name="postResponse">
    <wsdl:part name="item" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="post4XXFaultMessage">
    <wsdl:part element="extns1:client4XXError" name="clientError"/>
  </wsdl:message>
  <wsdl:message name="post5XXFaultMessage">
    <wsdl:part element="extns1:server5XXError" name="serverError"/>
  </wsdl:message>
  <wsdl:portType name="Connectmashery" tibex:source="bw.rest">
    <wsdl:documentation>Summary about the new REST service.</wsdl:documentation>
    <wsdl:operation name="post">
      <wsdl:input message="tns:postRequest" name="postInput"/>
      <wsdl:output message="tns:postResponse" name="postOutput"/>
      <wsdl:fault message="tns:post4XXFaultMessage" name="clientFault"/>
      <wsdl:fault message="tns:post5XXFaultMessage" name="serverFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
